@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
Canvas{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    top: 20px;
    left:0;
   
}

p b{
    color: #edcd7b;
    font-size: 150%;
}
body{
    overflow: hidden;
    background-color: black;
}

.container{
    
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.nav-items::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #ffffff;
    transition: 0.4s
}

.nav-items:hover::after {
    width: 100%
}
h2{
    font-family:'Poppins', sans-serif;
    font-size: medium;
    color:#edcd7b
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff
}
.title-container{
    z-index: 90;
    position: relative;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;

    
}

.nav-items{
    padding: 0.5rem 1rem;
    list-style: none;
    margin-right: 1rem;
}

.nav-items a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.title-container{
    position: absolute;
    width: 50%;
    height: auto;
    top: 20%;
    left: 0%;
    
}

.title-container{
    color: rgb(231, 231, 231);
    padding: 0 2rem;
    font-size: 110%;
    width: 35%;
}
q{
    font-family: 'Poppins', sans-serif;
}
.title-container h1{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h1{
    color: #edcd7b;
}
.button {
    left:-650%;
    position: relative;
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #000000;
    width: 180px;
    text-align: justify;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    border-radius: 12px;
  }
  
  .button:after {
    content: "";
    background: #000000;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.react-tabs__tab {
    font-family: 'Poppins', sans-serif;
}

.title-container p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
    margin: 1rem 0;
}

.div-slider{
    margin-top: -10%;
    padding: 50px;
    justify-content: center;
}
.btn{
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(0, 114, 255);
    color: white;
}

/*** making responsive ****/
@media only screen and (max-width: 1085px){
    .nav-menu{
        padding: 0.5rem;
    }

    .title h1{
        font-size: 1.8rem;
    }    

    .title p{
        width: 100%;
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }

    .btn{
        padding: 0.5rem 1rem;
        margin-top: 1.7rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1000px){
    .title-container{
        width: 55%;
    }

    .title{
        width: 100%;
    }
}

@media only screen and (max-width: 900px){
    .nav-menu{
        padding: 0rem;
    }

    .nav-items{
        font-size: 0.9rem;
    }

    .title-container{
        width: 60%;
    }

    .title h1{
        color: white;
    }

    .title p{
        color: rgb(205, 205, 205);
    }
}

@media only screen and (max-width: 846px){
    .nav-items{
        margin-right: 0.5rem;
    }
}

@media only screen and (max-width: 790px){
    .nav-items{
        margin-right: 0rem;
    }

    .title-container{
        width: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .title p{
        color: rgb(248, 248, 248);
    }
}

@media only screen and (max-width: 700px){
    .nav-menu{
        width: 100%;
    }

    .title-container{
        width: 100%;
    }
}

@media only scree and (max-width: 630px){
    .nav-menu{
         width: 100%;
    }

    .title-container{
        width: 100%;
    }
}

@media only screen and (max-width: 544px){
    .nav-menu{
        width: 100%;
   }

   .title-container{
       width: 100%;
   }
}

@media only screen and (max-width: 472px){
    .nav-menu{
        width: 100%;
   }

   .title-container{
       width: 100%;
   }
}